@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --blue: #185ADB;
  --white: #EFEFEF;
  --yellow: #FFC947;
  --dark-blue: #0A1931;
  --space: 200px 0;
}

body .header {
  width: 100vw;
  background-color: var(--blue);
}
body .header .nav {
  width: 100%;
  margin: auto;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
}
body .header .nav .navigation {
  width: 270px;
  display: flex;
  align-items: center;
  list-style: none;
}
body .header .nav .navigation li {
  padding: 15px;
}
body .header .nav .navigation li a {
  text-decoration: none;
  color: var(--white);
}
body .header .logo {
  width: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .header .button {
  width: 270px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
body .header .button .btn {
  width: 40%;
  padding: 15px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
body .content {
  text-align: center;
}
body .content .background {
  background-color: var(--blue);
  height: 80vh;
}
body .content .background .title {
  color: var(--white);
}
body .content .background .title h1 {
  font-size: 60px;
}
body .content .background .title p {
  width: 40%;
  margin: auto;
}
body .content .background .img {
  margin: 10px 0;
  width: 100%;
  height: 500px;
}
body .content .background .img img {
  width: 55%;
}
body .content .background .img .download {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}
body .content .background .img .download .appstore {
  width: 15%;
  margin: 0 25px;
}
body .content .background .img .download .appstore img {
  width: 100%;
}
body .content .background .img .download .playstore {
  width: 15%;
  margin: 0 25px;
}
body .content .background .img .download .playstore img {
  width: 100%;
}
body .gotop {
  position: fixed;
  bottom: 50px;
  right: 50px;
}
body .gotop a i {
  color: var(--white);
  background-color: var(--blue);
  padding: 15px 18px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
body .gotop a i::before {
  display: flex;
}
body .gotop a i::after {
  display: none;
}
body .about {
  margin-top: 500px;
}
body .about h2 {
  font-size: 50px;
  font-weight: bolder;
}
body .about h1 {
  margin-top: 50px;
  text-align: center;
  font-size: 100px;
}
body .about .detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .about .detail-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .about .detail-2 .desc {
  width: 50%;
  font-size: larger;
  text-align: end;
}
body .about .img {
  width: 50%;
  display: flex;
  justify-content: center;
}
body .about .img img {
  width: 50%;
}
body .about .desc {
  width: 50%;
  font-size: larger;
}
body .about .desc p {
  margin: 30px 0;
}
body .about .desc .button {
  border: 1px solid var(--blue);
  border-radius: 5px;
  padding: 15px 23px;
  background: none;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}
body .about .desc .button:hover {
  background-color: var(--blue);
  color: var(--white);
  transition: 0.3s;
}
body .client {
  margin: var(--space);
}
body .client .article {
  text-align: center;
}
body .client .article h1 {
  font-size: 100px;
}
body .client .article p {
  margin: 25px 0;
  font-size: larger;
}
body .client .wrapper {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .client .wrapper-bt {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .client .wrapper-bt .slider {
  margin-top: 30px;
}
body .client .wrapper-bt .slider .slide {
  -webkit-animation: buttom 60s linear infinite;
          animation: buttom 60s linear infinite;
}
@-webkit-keyframes buttom {
  100% {
    transform: translateX(0);
  }
  0% {
    transform: translateX(-100%);
  }
}
@keyframes buttom {
  100% {
    transform: translateX(0);
  }
  0% {
    transform: translateX(-100%);
  }
}
body .client .slider {
  width: 80vw;
  height: 150px;
  position: relative;
  display: flex;
  overflow: hidden;
  -webkit-animation-name: top;
          animation-name: top;
}
body .client .slider .slide {
  height: 150px;
  display: flex;
  align-items: center;
  -webkit-animation: slideshow 60s linear infinite;
          animation: slideshow 60s linear infinite;
}
body .client .slider .slide img {
  height: 100%;
  padding: 0 30px 0 30px;
}
@-webkit-keyframes slideshow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes slideshow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
body .client .slider::before, body .client .slider::after {
  height: 150px;
  width: 200px;
  position: absolute;
  content: "";
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  z-index: 2;
}
body .client .slider::before {
  left: 0;
  top: 0;
}
body .client .slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
body .feedback {
  margin: var(--space);
}
body .feedback .article {
  text-align: center;
}
body .feedback .article h1 {
  font-size: 100px;
}
body .feedback .article p {
  margin: 30px;
  font-size: large;
}
body .feedback .colum {
  margin: 0 200px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
body .feedback .colum .user {
  width: 10%;
  flex: 50%;
  margin: 5px;
  padding: 35px;
  background-color: #F7F5F2;
  border: 1px solid #DFDFDE;
  border-radius: 15px;
  transition: 0.3s;
}
body .feedback .colum .user .comment {
  margin-bottom: 10px;
}
body .feedback .colum .user .profile {
  display: flex;
  align-items: center;
  margin-top: 50px;
}
body .feedback .colum .user .profile img {
  width: 7%;
  border-radius: 100%;
}
body .feedback .colum .user .profile p {
  font-weight: bold;
  margin: 0 25px;
}
body .feedback .colum .user:hover {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
body .fqa {
  margin: var(--space);
}
body .fqa .title {
  text-align: center;
}
body .fqa .title h1 {
  font-size: 100px;
}
body .fqa .wrapper {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .fqa .wrapper input {
  position: absolute;
  opacity: 0;
}
body .fqa .wrapper .accordion {
  width: 40%;
  overflow: hidden;
}
body .fqa .wrapper .item {
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #DFDFDE;
}
body .fqa .wrapper .title {
  background: #F7F5F2;
  display: flex;
  padding: 30px;
  justify-content: space-between;
  font-weight: bold;
  cursor: pointer;
  font-size: 18px;
}
body .fqa .wrapper .title::after {
  content: "❯";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.3s;
}
body .fqa .wrapper .content {
  background: #F7F5F2;
  padding: 0 30px;
  max-height: 0;
  transition: all 0.25s;
  text-align: left;
}
body .fqa .wrapper input:checked + .title:after {
  transform: rotate(90deg);
  background: #F7F5F2;
}
body .fqa .wrapper input:checked ~ .content {
  max-height: 100vh;
  padding: 1em;
}
body .application {
  width: 100%;
  display: flex;
  align-items: center;
}
body .application .article {
  width: 50%;
}
body .application .article .title {
  margin: 0 150px;
}
body .application .article .title h1 {
  font-size: 100px;
}
body .application .article .title p {
  font-size: larger;
  margin: 50px 0;
}
body .application .article .img {
  display: flex;
  justify-content: center;
  margin-left: 150px;
}
body .application .article .img .appstore {
  width: 50%;
}
body .application .article .img .appstore img {
  width: 100%;
}
body .application .article .img .playstore {
  width: 50%;
  margin-left: 50px;
}
body .application .article .img .playstore img {
  width: 100%;
}
body .application .img {
  width: 50%;
  display: flex;
  justify-content: center;
}
body .application .img img {
  width: 50%;
}

.subscribe {
  width: 80%;
  margin: auto;
  border-radius: 30px;
  background-color: #185ADB;
  margin-top: 100px;
  margin-bottom: 100px;
}
.subscribe .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  color: var(--white);
}
.subscribe .content .text {
  text-align: left;
  width: 70%;
}
.subscribe .content .text p {
  margin-top: 15px;
}
.subscribe .content .button {
  background: none;
  border: 1px solid white;
  padding: 15px;
  color: var(--white);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.subscribe .content .button:hover {
  background-color: var(--yellow);
  border: 1px solid var(--yellow);
  color: var(--blue);
  transition: 0.3s;
}

.footer {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 100px;
}
.footer h2 {
  font-size: 40px;
  font-weight: bolder;
}
.footer a {
  color: var(--dark-blue);
  text-decoration: none;
  display: flex;
  transition: 0.5s;
  margin: 15px 0;
}
.footer .colum1 {
  width: 30%;
}
.footer .colum1 .form {
  margin-top: 25px;
}
.footer .colum1 .form .txtbox {
  background-color: #F7F5F2;
  border: 1px solid #DFDFDE;
  padding: 10px;
  border-radius: 5px;
}
.footer .colum1 .form .button {
  background: none;
  border: 1px solid var(--dark-blue);
  padding: 10px 15px;
  color: var(--dark-blue);
  border-radius: 5px;
  cursor: pointer;
  margin-left: 15px;
  transition: 0.3s;
}
.footer .colum1 .form .button:hover {
  background-color: var(--blue);
  border: 1px solid var(--blue);
  color: var(--white);
  transition: 0.3s;
}
.footer .categories {
  width: 20%;
}
.footer .about-us {
  width: 20%;
}
.footer .folllow-us {
  width: 20%;
}

.copy-right {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  background-color: var(--dark-blue);
}
.copy-right a {
  color: var(--white);
}

::-webkit-scrollbar {
  width: 0px;
}

@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}/*# sourceMappingURL=home.css.map */