*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
    
}

:root{
    --blue: #185ADB;
    --white: #EFEFEF;
    --yellow: #FFC947;
    --dark-blue: #0A1931;

    --space: 200px 0;
}

// Header------------------------------------------------------------------------------
.header{
    width: 100%;

    // Hamburger Menu-----------------------------------------------------------------
    .hamburger-menu{
            display: none;
    
            #menu__toggle {
                opacity: 0;
            }
    
            #menu__toggle:checked + .menu__btn > span {
                transform: rotate(45deg);
            }
    
            #menu__toggle:checked + .menu__btn > span::before {
                top: 0;
                transform: rotate(0deg);
            }
    
            #menu__toggle:checked + .menu__btn > span::after {
                top: 0;
                transform: rotate(90deg);
            }
    
            #menu__toggle:checked ~ .menu__box {
                left: 0 !important;
            }
    
            .menu__btn {
                position: fixed;
                top: 20px;
                width: 26px;
                height: 26px;
                cursor: pointer;
                z-index: 1;
            }
    
            .menu__btn > span,
            .menu__btn > span::before,
            .menu__btn > span::after {
                display: block;
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: var(--white);
                transition-duration: .25s;
            }
    
            .menu__btn > span::before {
                content: '';
                top: -8px;
                color: white;
            }
    
            .menu__btn > span::after {
                content: '';
                top: 8px;
                color: white;
            }
    
            .menu__box {
                display: block;
                position: fixed;
                top: 0;
                left: -100%;
                width: 250px;
                height: 100%;
                margin: 0;
                padding: 50px 0;
                list-style: none;
                background-color: var(--blue);
                box-shadow: 2px 2px 6px rgba(0, 0, 0, .1);
                transition-duration: 0.5s;
            }
    
            .menu__item {
                display: block;
                padding: 10px 15px;
                color: var(--white);
                font-size: 20px;
                font-weight: 600;
                text-decoration: none;
                transition-duration: .25s;
            }
    
            // .menu__item:hover {
            //     background-color: var(--yellow);
            // }
    }
    
    // company logo for mobile--------------------------------------------------------
    .logo-mobile{
            display: none;
    }

    .nav{
        width: 100%;
        height: 85px;
        margin: auto;
        padding: 15px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        position: fixed;
        top: 0;
        left: 0;
    
        transition: top 0.3s;

        background-color: var(--blue);
        color: var(--white);

        .navigation{
            width: 270px;
            display: flex;
            align-items: center;

            list-style: none;

            .hamburger-menu{
                display: none;

                #menu__toggle {
                    opacity: 0;
                }
    
                #menu__toggle:checked + .menu__btn > span {
                    transform: rotate(45deg);
                }
    
                #menu__toggle:checked + .menu__btn > span::before {
                    top: 0;
                    transform: rotate(0deg);
                }
    
                #menu__toggle:checked + .menu__btn > span::after {
                    top: 0;
                    transform: rotate(90deg);
                }
    
                #menu__toggle:checked ~ .menu__box {
                    left: 0 !important;
                }
    
                .menu__btn {
                    position: fixed;
                    top: 20px;
                    left: 20px;
                    width: 26px;
                    height: 26px;
                    cursor: pointer;
                    z-index: 1;
                }
    
                .menu__btn > span,
                .menu__btn > span::before,
                .menu__btn > span::after {
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background-color: var(--white);
                    transition-duration: .25s;
                }
    
                .menu__btn > span::before {
                    content: '';
                    top: -8px;
                    color: white;
                }
    
                .menu__btn > span::after {
                    content: '';
                    top: 8px;
                    color: white;
                }
    
                .menu__box {
                    display: block;
                    position: fixed;
                    top: 0;
                    left: -100%;
                    width: 250px;
                    height: 100%;
                    margin: 0;
                    padding: 50px 0;
                    list-style: none;
                    background-color: var(--blue);
                    box-shadow: 2px 2px 6px rgba(0, 0, 0, .1);
                    transition-duration: 0.5s;
                }
    
                .menu__item {
                    display: block;
                    padding: 10px 15px;
                    color: var(--white);
                    font-size: 20px;
                    font-weight: 600;
                    text-decoration: none;
                    transition-duration: .25s;
                }
    
                // .menu__item:hover {
                //     background-color: var(--yellow);
                // }
            }
    
            li{
                padding: 15px;
    
                a{
                    text-decoration: none;
                    color: var(--white);
                }
            }
        }

        .logo{
            width: 270px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        .button{
            width: 270px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            
            .btn{
                width: 40%;
                padding: 15px;
                border: none;
                font-weight: bold;
                cursor: pointer;
            }
        }
    }

    

    

    .header-content{
        width: 100%;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        background-color: var(--blue);
        color: var(--white);
    
        .left{
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;
    
            .title{
                h1{
                    font-size: 85px;
                }
            }
    
            .form{
                width: 60%;
                margin: 50px 0;
                margin-top: 25px;
    
                .txtbox{
                    width: 100%;
                    height: 40px;
                    padding: 0 10px;
                    background-color: #F7F5F2;
                    border: 1px solid #DFDFDE;
                    border-radius: 5px;
                }
    
                .button{
                    width: 100%;
                    height: 40px;
                    border-radius: 5px;
                    margin-top: 10px;
                    display: flex;
                    justify-content: center;

                    cursor: pointer;

                    background: var(--yellow);
                    color: var(--white);
                    border: none;
                    transition: 0.3s;
                }
    
                .button:hover{
                    box-shadow: 0px 0px 5px 0px rgb(255, 201, 71);
                    transition: 0.3s;
                }
            }
    
            .decsc{
                p{
                    text-align: center;
    
                    span{
                        font-weight: bold;
                        cursor: pointer;
                    }
                }
            }
        }
    
        .mid{
            width: 30%;
            height: auto;
            margin-top: 100px;

            display: flex;
            justify-content: center;
    
            img{
                width: 60%;
                height: 100%;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
    
        .right{
            width: 30%;
            display: flex;
            h1{
                font-size: 85px;
            }
        }
    }
}

// Feature-----------------------------------------------------------------------------
.feature{
    text-align: center;
    margin: var(--space);

    .title{
        margin: 100px 0;
        font-size: 32px;
    }

    .content{
        display: flex;
        align-items: center;
        justify-content: center;

        .item{
            width: 300px;
            height: 350px;
            margin: 0 15px;

            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            background-color: #F7F5F2;
            border: 1px solid #DFDFDE;
            border-radius: 15px;

            transition: 0.3s;

            i{
                font-size: 70px;
                margin-bottom: 25px;
                color: var(--blue);
            }

            .text{

                h1{
                    margin: 15px 0;
                }
    
                p{
                    margin: 0 10px;
                    height: 75px;
                    overflow: hidden;
                }
    
            }
        }

        .item:hover{
            color: var(--white);
            background-color: var(--blue);
            border: 1px solid var(--blue);
            box-shadow: 0px 0px 7px 0px rgb(24, 90, 219);

            transition: 0.3s;

            i{
                color: var(--white);
            }
        }
    }
}

// Staff-------------------------------------------------------------------------------
.staff{
    width: 90%;
    margin: auto;

    .header-staff{
        display: flex;
        align-items: center;
        justify-content: space-between;

        font-size: larger;

        margin: 30px 0;
        padding: 15px;

        h1{
            text-align: justify; 
        }
    }

    .content-staff{
        display: flex;

        .item{
            width: 30%;
            padding: 20px;
            margin: 15px;

            background-color: var(--blue);
            color: var(--white);

            border-radius: 5px;

            .img{
                width: 100%;
                
                img{
                    width: 100%;
                }
            }

            .tittle{
                margin-top: 20px;

                h1{
                    font-size: 20px;
                    margin-bottom: 10px;
                }
            }
        }

        .item:hover{
            box-shadow: 0px 0px 7px 0px rgba(0,0,0,0);
        }
    }
}

// Company Story-----------------------------------------------------------------------
.story{
    width: 90%;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 200px;
    margin-bottom: 100px;

    .story-content{
        font-size: 22px;

        h1{
            font-size: 60px;
        }
        p{
            margin: 25px 0;
        }
    }

    .story-img{
        display: flex;
        justify-content: flex-end;

        img{
            width: 70%;
        }
    }
}

// Download App-----------------------------------------------------------------------
.download{
    width: 70%;
    height: 525px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 15px;

    margin-top: 200px;
    margin-bottom: 100px;

    background-color: var( --blue);
    color: var(--white);

    .download-text{
        width: 50%;
        margin: auto;

        // text-align: left;
        margin-left: 35px;

        display: flex;
        flex-direction: column;

        p{
            margin: 25px 0;
        }

        .button{
            width: 400px;
            display: flex;
            justify-content: flex-start;
            
            .btn{
                padding: 15px;
                border: none;
                border-radius: 5px;
                font-weight: bold;
                cursor: pointer;
            }
        }
    }

    .download-img{
        width: 50%;
        height: 100%;

        display: flex;
        align-items: flex-end;
        justify-content: center;

        img{
            width: 60%;
            background-size: cover;
        }
    }
}

// Footer-----------------------------------------------------------------------------
.footer{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    margin-top: 100px;

    h2{
        font-size: 40px;
        font-weight: bolder;
    }

    a{
        color: var(--dark-blue);
        text-decoration: none;
        display: flex;
        transition: 0.3s;
        margin: 15px 0;

        :hover{
            color: var(--blue);
            transition: 0.3s;
        }
    }

    .colum1{
        width: 30%;

        .form{
            margin-top: 25px;

            .txtbox{
                background-color: #F7F5F2;
                border: 1px solid #DFDFDE;
                padding: 10px;
                border-radius: 5px;
            }

            .button{
                background: none;
                border: 1px solid var(--dark-blue);
                padding: 10px 15px;
                color: var(--dark-blue);
                border-radius: 5px;
                cursor: pointer;
                margin-left: 15px;
                transition: 0.3s;
            }

            .button:hover{
                background-color: var(--blue);
                border: 1px solid var(--blue);
                color: var(--white);

                transition: 0.3s;
            }
        }
    }

    .categories{
        width: 20%;
    }

    .about-us{
        width: 20%;
    }

    .folllow-us{
        width: 20%;
    }
}

// Copyright--------------------------------------------------------------------------
.copy-right{ 
    width: 100%;
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--white);
    background-color: var(--dark-blue);

    a{
        text-decoration: none;
        color: var(--blue);
    }
}

// scroll-bar--------------------------------------------------------------------------
::-webkit-scrollbar {
    width: 0px;
}

// Other-------------------------------------------------------------------------------
@media screen and (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
}

@media only screen and (min-width: 1920px) {
    .download{
        .download-img{
            img{
                width: 50%;
            }
        }
    }
}
